div {
    margin: 20px 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;

}

table {
    border-collapse: collapse;
    width: 90%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}